  <!-- Header -->
  <div class="main-header">
  <div class="secondary-overlay">
  <div id="home" class="showcase container">
    <div class="row">
      <h1 class="blue-text cneter">Basic Authentication with Passport + Sequelize in an Express.js Web App</h1>
      <br/>
      <div class="col s6 center">
        <a href="/account/signin" class="btn btn-large green white-text">Sign In</a>
      </div>
      <div class="col s6 center">
        <a href="/account/signup" class="btn btn-large green white-text">Sign Up</a>
      </div>
    </div>
  </div>
  </div>
</div>
